.mat-card.app-no-padding {
  padding: 0;
}

.mat-card.m-no-pad {
  padding: 0;
}

mat-card.mat-card.m-no-padding {
  padding: 0;
}

mat-card.mat-card .mat-card-content.m-no-padding {
  margin-left: -16px;
  margin-right: -16px;
}

/**
 * @deprecated
 */
.mat-card .app-no-padding {
  margin-left: -16px;
  margin-right: -16px;
}
