USE [master]
GO
/****** Object:  Database [Crud]    Script Date: 6/5/2021 3:30:23 PM ******/
CREATE DATABASE [Crud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Crud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Crud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Crud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Crud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Crud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Crud]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 6/5/2021 3:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleName] [varchar](50) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [LastName], [FirstName], [MiddleName]) VALUES (1002, N'Cruz', N'Ron', N'Sanchez')
INSERT [dbo].[Employee] ([Id], [LastName], [FirstName], [MiddleName]) VALUES (1003, N'Doe', N'John', N'William')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
USE [master]
GO
